<div class="col-xl-12">
    <div class="row justify-content-center">
        <div class="col-xl-6 ">
            {% if 'edit' in request.path %}
            <form action="{% url 'admin_update_slider_url' slider_id=slide.id %}" method="post"
                  enctype="multipart/form-data">
                {% else %}
                <form action="{%url 'admin_save_slider_url'%}" method="post" enctype="multipart/form-data">
                    {% endif %}
                    {% csrf_token %}

                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Название"
                               value="{{slide.name}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="href" placeholder="Ссылка"
                               value="{{slide.href}}">
                    </div>

                    {% if slide.img.url %}
                        <img src="{{ slide.img.url }}" alt="" style="width:250px; margin-bottom:20px;">
                    {% endif %}

                    <div class="form-group">
                        <label for="">Изображение слайда</label>
                        <input type="file" class="form-control-file" name="img" id="">
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
        </div>
    </div>
</div>